* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}
button,
input{
    border: none;
    outline: none;
}

button{
    cursor: pointer;
}

.main {
    overflow: hidden;
}

.grid {
    display: grid;
}

.scrollup-btn {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    display: flex;
    background-color: #1EA5F1;
    border-radius: .5rem;
    padding: 0.3rem 0.6rem;
    opacity: 9;
    z-index: 5;
    transition: .4s;

    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.356);
}
  
.scrollup-btn:hover {
    background-color: #1EA5F1;
    opacity: 1;
}
  
.scrollup__icon {
    color: #E8F6FE;
    font-size: 1.55rem;
}

.show-scroll {
    bottom: 5rem;
}

/* Header */ 

.nav__menu {
    display: none;
}

.header {
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: transparent;
    transition: 0.3s all ease;
}

.nav__container {
     width: 90%;
     height: 4rem;
     margin: auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.nav__container h1 {
    text-transform: uppercase;
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #E8F6FE;
}

.nav__container span {
    font-weight: 700;
}

.nav__container .nav__toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* Side Nav */

.side__nav {
    height: 100%;
    position: relative;
    overflow: hidden;
}


.side__nav__container {
    z-index: 15;
    position: fixed;
    width: 260px;
    background-image: linear-gradient(#a6deffdc, rgba(255, 255, 255, 0.521));
    backdrop-filter: blur(5px);
    right: -100%;
    top: 0;
    bottom: 0;
    
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.329);
    transition: .3s all ease;
}
    
.side__nav__contents {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.nav__close {
    display: flex;
    justify-content: flex-end;

    padding: 1rem;
    padding-top: 1.5rem;
    color: #3D3D3D;
    font-size: 2.2rem;
    margin-bottom: 2rem;

    cursor: pointer;
}

.side__menu {
    width: 100%;
}

.side__menu li {
    padding: 1.5rem;       
}

.side__menu li:hover {
    transition: .3s all ease;
    background-color: #1EA5F1;
    color: #E8F6FE;
}

.active-link {
    background-color: #1EA5F1;
}

.side__menu ul li a {
    color: #016FAD;
    font-weight: 300;
    font-size: 24px;
    text-transform: capitalize;
    letter-spacing: 0.4px;
    font-family: "Outfit", sans-serif;
}

.side__menu ul li a:hover {
    color: #E8F6FE;
}

.side__menu ul li:nth-last-child(1) {
    border-top: 2px solid #1EA5F1;
    border-bottom: 2px solid #1EA5F1;
}
/* Side Nav */

/* Carousel */

.carousel-inner {
    height: 335px;
    border-bottom-left-radius: 50px !important;
    z-index: 5;
}

.carousel-inner h1 {
    width: 65%;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    text-align: center;
    color: #E8F6FE;
    margin: auto;
    font-size: 28px;
    font-weight: 700;
    font-family: 'Outfit', sans-serif;
}

.carousel {
    height: 100%;
}

.carousel-item {
    height: 100% !important;
    width: 100% !important;
}

.img-carousel {
    width: 100% !important;
    height: 100% !important;
}

.carousel-indicators {
    z-index: 6 !important;
}

.carousel-indicators button {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
}

/* Home Section */
.home__section {
    width: 100%;
    height: 100%;

    position: relative;
    overflow: hidden;

}

.home__container {
    width: 100%;
    height: 100%;

    padding-bottom: 8rem;
}


.home__texts {
    z-index: 4;
    width: 90%;
    margin: auto;
    padding-top: 3rem;
    font-family: 'Outfit', sans-serif;

}

.home__texts .company {
    border: 1px solid transparent;
    background-color: #A6DFFF;
    width: 137px;
    padding: 0.3rem;
    font-size: 11px;
    color: #016FAD;
    margin-bottom: 0.8rem;
}

.home__texts .home__title {
    font-size: 46px;
    font-weight: 700;
    letter-spacing: -2.8px;
    color: #3D3D3D;
    line-height: 3rem;
    max-width: 230px;
}

.home__texts .home__title span {
    color: #F1AD5E;
}

.home__texts .home__desc {
    color: #606060;
    font-size: 13px;
    font-weight: 200;
    width: 84%;
    max-width: 270px;
    letter-spacing: .4px;
    line-height: 1rem;
    font-family: "Lato", sans-serif;
}

.btn-primary {
    height: 48px;
    width: 142px;
    margin-top: 0.7rem;
    background-color: transparent;
    border: 1px solid #1EA5F1;
    border-radius: 0px;
    color: #016FAD;
    font-size: 13px;
    font-weight: 600;
    font-family: "Ubuntu", sans-serif;

    backdrop-filter: blur(4px);
}

.glass {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.103);
    backdrop-filter: blur(20px);
    z-index: 4;
}

.circle_1 {
    width: 350px;
    height: 350px;
    background-color: #F1AD5E;
    border-radius: 50%;
    margin:10rem 6rem;
    opacity: .1;
    z-index: 1;
}

.circle_2 {
    position: absolute;
    width: 350px;
    height: 350px;
    background-color: #1EA5F1;
    border-radius: 50%;
    margin: auto;
    opacity: .1;
    z-index: 1;
}

.circle_4 {
    position: absolute;
    width: 350px;
    height: 350px;
    background-color: #f1ac5e1f;
    border-radius: 50%;
    left: 0;
    bottom: 0;
    opacity: .1;
    z-index: 1;
}

.circle_3 {
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: #F1AD5E;
    border-radius: 50%;
    right: -7rem;
    top: -5rem;
    opacity: .1;
}

.pattern {
    position: absolute;
    right: -15rem;
    z-index: 4;
    opacity: .3;
    top: 4rem;
}

.pattern__2 {
    position: absolute;
    left: -14rem;
    z-index: 4;
    opacity: .3;
    bottom: -17rem;
}


.div-bg {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

/* About Section */
.about__section {
    height: 100%;
    width: 100%;
    background-color: #EFF9FF;
}

.about__container {
    width: 90%;
    height: 100%;
    margin: auto;
}

.about__contents {
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.about__contents .about__title .span {
    height:  3px;
    width: 46px;
    background-color: #F1AD5E;
}

.about__contents .about__title .dot {
    color: #F1AD5E;
}

.about__contents .about__title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.about__text {
    font-family: "Outfit", sans-serif;
    font-size: 36px;
    font-weight: 700;
}

.about__desc {
    font-family: "Outfit", sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__1 {
    padding-top: 2rem;
}

.card__1 img {
    width: 100%;
}

.card__2 {
    padding-top: 1rem;
}

.card__2 img {
    width: 100%;
}

.about__info {
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.about__info h1 {
    font-size: 24px;
    font-weight: 600;
    font-family: "Outfit", sans-serif;
    color: #3D3D3D;
}

.about__info p {
    font-size: 16px;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    color: #A4A2A2;
    width: 85%;
    max-width: 280px;
}

.about__info .lines {
    width: 243px;
    height: 2px;
    background-color: #016FAD;
    margin: 1rem 0rem 1rem 0rem;
}


/* About Section */

/* Services Section */

.services__section {
    height: 100%;
    width: 100%;

    position: relative;
}

.waves {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    z-index: -5;
}

.services__container {
    width: 90%;
    height: 100%;
    margin: auto;

    padding-top: 5rem;
}

.services__contents {
    width: 100%;
    z-index: 999;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services__contents .services__title .span {
    height:  3px;
    width: 46px;
    background-color: #F1AD5E;
    margin-bottom: 1rem;
}

.services__contents .services__title .dot {
    color: #F1AD5E;
}

.services__contents .services__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.services__text {
    font-family: "Outfit", sans-serif;
    font-size: 36px;
    font-weight: 700;
}

.services__desc {
    font-family: "Outfit", sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

.services__cards {
    cursor: pointer;
    width: 100%;
    max-width: 351px;
    height: 351px;
    margin: auto;
    margin-top: 2rem;
    padding: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background-color: #E8F6FE;
}

.services__cards:hover {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.247);
    transform: scale(1.1);
    transition: 0.3s all ease;
}

.service__logo {
    padding-bottom: 3rem;
}

.service__title {
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.service__desc {
    font-family: "Lato", sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-align: left;
}

.services__contents button {
    margin: 3rem 0rem;
    border: 1px solid #3D3D3D;
    color: #3D3D3D;
}